* {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Lato', sans-serif;
}

body {
	max-width: 1000px;
}

.logo-image {
	padding-top: 20px;
	width: 75px;

}

.header-row {
	padding-top: 2%;

}

.header-text {
	text-align: right;

}

.feature-text {
	padding-left: 15px;
	font-variant: small-caps;
	color: #847c7c;
	font-weight: 300;
}

.selected-proj {
	text-align: center;
}

hr,
.feature-text {
	margin-top: 5px 0px 0px 5px;
	padding-bottom: 0px 0px 0px 0px;
}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 200%;
	}
	h3 {
		font-size: 150%;
	}
}

@media only screen and (max-width: 767px) {
	.later-logos{
		display: none;
	}
}

.footer {
	margin-left: auto;
	margin-right: auto;
	padding: 50px 20px;
	max-width: 1000px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: #8793a0; 
}

.footer-link {
	color: #1a3546;
	text-decoration: underline;

}